@import "./color";
@import "./grid";
@import "./utilities";
@import "./navigation";
@import "./gallery";

body{
    background-color: $absoluteWhite;
}

html, body, p, div, a, table, input, option, li, ul, ol, select, span{
    font-family: Montserrat;
    color: $mediumBlack;
}

h1, h2, h3, h4, h5, h6{
    font-family: Quicksand;
    color: $mediumBlack;
}

header{
    background-color: $absoluteWhite;
}

.nav ul.logo-container li a{
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight:700;
    color:#23231E;
}

.nav ul#desk-nav li{
    padding: 10px 15px;
}

#datatables-container{
    padding:220px 0px 0px 0px;
    background-color: #fff;
}





/**************/
.filterable-button-group > *{
    margin-top: 30px;
    margin-bottom: 30px;
}
.button{
    font-size:1.25em;
    padding:20px 40px;
    background-color: $mediumBlack;
    border: 1px solid $mediumBlack;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.button-primary{
    background-color: #a7c0e8 !important;
    border: 1px solid #a7c0e8;
    color: #fff !important;
}
.button-round{
    border-radius: 50px !important;
}
.button-circle{
    padding:15px;
    border-radius: 100%;

}



.dropdown-button-group{
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    width: 100%;
    position: absolute;
    background-color: #fff;
    margin-top: 20px;
    display:none;
}

.dropdown-content ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: left;
}

.dropdown-content ul li{
    border-top: 1px solid #f1f1f1;
    padding: 20px;
}

.dropdown-button-group .active .dropdown-content{
    display: block;
}
.dropdown-button-group .active .button-round{
    border-radius: 30px 30px 0px 0px !important;
}
.dropdown-button-group .active .dropdown-content{
    overflow: hidden;
    border-radius: 0px 0px 30px 30px !important;
}
.dropdown-button-group .fa-chevron-up{
    display: none;
}
.dropdown-button-group .active .fa-chevron-up{
    display: inline-block;
}
.dropdown-button-group .active .fa-chevron-down{
    display: none;
}
  
/**************/




/*****************/
.table tr td{
    text-align: center;
    padding: 25px 10px;
}
.table tbody tr td{
    border-top:1px solid #f1f1f1;
}
/*********************/


.thumbnail-container {
    position: relative;
    width: 100%;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    width: 100%;
    transition: .5s ease;
    opacity: 0.75;
    color: white;
    font-size: 20px;
    padding: 50px 0px;
    text-align: center;
}

.thumbnail-container:hover .overlay {
    opacity: 1;
}



/**********************/

.dark-footer{
    background-color: #30333C;
    ul.footer-nav{
        padding-inline-start: 0px;
        li{
            color:#fff;
            list-style-type: none;
            padding: 8px 0px;
            font-size: 1.25em;
        }
    }
    i,a,p,div,h1,h2,h3,span{
        color:#fff;
    }
    h2{
        font-size: 2em;
    }

    .social-media-container{
        position: relative;
        height: 100%;
        .social-media-box{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}


/**********************/







/************ Contact Form **************/
#contact-form-container{
    background: linear-gradient(100deg, #E6F1FF 42.5%, #fff 42.5%);
    .title{
        font-size: 4em;
        color: $primaryColor;
    }

    .logo-box {
        justify-content: center;
      }
      
      .logo {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
      }
      
      .name {
        width: 100%;
        font-size: 2em;
        font-weight: bold;
      }
      
      .email {
        width: 100%;
        font-size: 1.225em;
      }
      
      .phone {
        width: 100%;
        font-size: 1.225em;
      }
      .flex-wrap {
       display: flex;
      }
      .flex-wrap .content {
          align-self: center;
      }
}
/************ Contact Form **************/



/************** Form Control *************/
.form-control{
    width: 100%;
    .form-input, .form-input:focus, .form-input:active{
        width: 100%;
        border-bottom-color: rgba(111,136,177, .27) !important;
        border-width: 0px 0px 1px 0px !important;
        font-size: 1.25em;
    }

    .form-input::placeholder {
        color: $textColor;
    }

    label{
        color: $textColor;
        line-height: 2em;
        font-size: 1.25em;
    }
    label a{
        color: $textColor;
    }

    .styled-input-single {
        position: relative;
        padding: 20px 0 20px 60px;
        text-align: left;
    }
    .styled-input-single label {
        cursor: pointer;
    }
    .styled-input-single label:before, .styled-input-single label:after {
        content: '';
        position: absolute;
        top: 40px;
        border-radius: 50%;
    }
    .styled-input-single label:before {
        left: 0;
        width: 30px;
        height: 30px;
        margin: -15px 0 0;
        background: #f7f7f7;
        border: solid 2px $primaryColor;
    }
    .styled-input-single label:after {
        left: 5px;
        width: 22px;
        height: 22px;
        margin: -9px 1px;
        opacity: 0;
        background: $primaryColor;
        -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
                transform: translate3d(-40px, 0, 0) scale(0.5);
        -webkit-transition: opacity 0s ease-in-out, -webkit-transform 0s ease-in-out;
        transition: opacity 0s ease-in-out, -webkit-transform 0s ease-in-out;
        transition: opacity 0s ease-in-out, transform 0s ease-in-out;
        transition: opacity 0s ease-in-out, transform 0s ease-in-out, -webkit-transform 0s ease-in-out;
    }
    .styled-input-single input[type="radio"],
    .styled-input-single input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: -9999px;
        visibility: hidden;
    }
    .styled-input-single input[type="radio"]:checked + label:after,
    .styled-input-single input[type="checkbox"]:checked + label:after {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        opacity: 1;
    }
      
    .styled-input--square label:before, .styled-input--square label:after {
        border-radius: 0;
    }
      
    .styled-input--rounded label:before {
        border-radius: 10px;
    }
    .styled-input--rounded label:after {
        border-radius: 6px;
    }
      
    .styled-input--diamond .styled-input-single {
        padding-left: 45px;
    }
    .styled-input--diamond label:before, .styled-input--diamond label:after {
        border-radius: 0;
    }
    .styled-input--diamond label:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    .styled-input--diamond input[type="radio"]:checked + label:after,
    .styled-input--diamond input[type="checkbox"]:checked + label:after {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        opacity: 1;
    }
      
      
}

